* {
  background-color:  black;
  color: white;
}

.navbar {
  width: 100%;
  top: 0;
}

ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.content {
  margin: 50px 100px 0px 100px;
}